.App {
  text-align: center;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Post {
  width: 50rem;
  margin: 1.2rem auto;
  padding: 1.2rem 2rem;
  border: 1px solid #eee;
  border-radius: 0.4rem;
}

.Post__Image {
  max-width: 35rem;
  max-height: 18rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
